AuthType Basic
AuthName "Restricted Area"
AuthUserFile /home/happypet/.htpasswd
Require valid-user

Options -Indexes

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
